* {
    padding: 0;
    margin: 0;
}

body {
    background: url(img/fondo.webp);
    background-attachment: fixed;
    color: white;
}

html, body {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
}
.logo   {
    width: 300px;
    height: 128px;
}

.menu {
    display: flex;
    background-color: lightskyblue;
    justify-content: space-between;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.link {
    display: flex;
    gap: 50px;
    margin: 5px 60px;
}

#banner {
    width: 100%;
}

.body {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    text-align: center;
    width: 15%;
    padding: 50px;
    margin: 50px;
}

.nosotros {
    display: flex;
    text-align: center;
    width: 90%;
    margin: 150px 50px;
}

.nosotros, .parrafo {
    margin-left: 70px;
    margin-right: 70px;
}

.parrafo {
    padding: 50px 160px;
}

.nosotros2 {
    text-align: center;
}

img {
    width: auto;
}

.contacto {
    margin: 150px 50px;
}

.siguenos {
    margin: 150px 50px;
    text-align: end;
}

ul {
    display: flex;
    justify-content: end;
    padding: 50px 50px;
    gap: 50px;
    list-style-type: none;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}