* {
    padding: 0;
    margin: 0;
}

html, body {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
}

.menu {
    display: flex;
    background-color: cornflowerblue;
    justify-content: space-between;
}

.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    display: flex;
    gap: 50px;
    margin: 5px 60px;
}


.body {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    width: 15%;
    padding: 50px;
    margin: 50px;
}

.nosotros {
    display: flex;
    text-align: center;
    width: 90%;
}

.nosotros, .parrafo {
    margin-left: 70px;
    margin-right: 70px;
}

.nosotros2 {
    text-align: center;
}

img {
    width: auto;
}

.contacto {
    margin: 50px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-around;
}

.contacto1 {
    width: 20%;
}

.siguenos {
    width: 20%;
}



